.inputRow{
    padding:0px;
    margin:0px
}

.ver-centr{
    padding-top: 150px;
}

#txt_area{
    padding-top: 125px;
}

input[type=button]{
    background-color: #;
    border: none;
    color: white;

    display: inline-block;

}